{% macro customButton(title, type, classes, id, onClick, additionalAttributes) %}
    <button type="{{ type }}"{% if id %} id="{{ id }}"  name="{{ id }}"{% endif %} class="{{ 'btn ' ~ classes }}"{% if onClick %} onclick="{{ onClick }}"{% endif %}{% if additionalAttributes %} {{ additionalAttributes|raw }}{% endif %}>
        {{ title|trans|raw }}
    </button>
{% endmacro %}

{% macro customLink(title, url, classes, id, onClick, additionalAttributes) %}
    <a{% if url %} href="{{ url }}"{% endif %}{% if id %} id="{{ id }}"{% endif %} class="{{'btn ' ~ classes }}"{% if onClick %} onclick="{{ onClick }}"{% endif %}{% if additionalAttributes %} {{ additionalAttributes|raw }}{% endif %}>
        {{ title|trans|raw }}
    </a>
{% endmacro %}

{# add #}
{% macro addButton(title, type, classes, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {{ this.customButton(title, type|default('button'), 'btn-success ' ~ classes, id, onClick, additionalAttributes) }}
{% endmacro %}

{% macro addLink(title, url, classes, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {{ this.customLink(title, url, 'btn-success ' ~ classes, id, onClick, additionalAttributes) }}
{% endmacro %}

{# save #}
{% macro saveButton(title, type, classes, id, idForm, onClick, additionalAttributes) %}
    {% import _self as this %}

    {% if idForm %}
        {% set additionalAttributes %}
            form="{{ idForm }}" {{ additionalAttributes }}
        {% endset %}
    {% endif %}

    {{ this.customButton(title, type|default('submit'), 'btn-primary submit ' ~ classes, id, onClick, additionalAttributes) }}
{% endmacro %}

{% macro saveLink(title, url, classes, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {{ this.customLink(title, url, 'btn-primary ' ~ classes, id, onClick, additionalAttributes) }}
{% endmacro %}

{# cancel #}
{% macro cancelButton(title, type, classes, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {{ this.customButton(title, type|default('button'), 'btn-default ' ~ classes, id, onClick, additionalAttributes) }}
{% endmacro %}

{% macro cancelLink(title, url, classes, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {{ this.customLink(title, url, 'btn-default ' ~ classes, id, onClick, additionalAttributes) }}
{% endmacro %}

{# remove #}
{% macro removeButton(title, type, classes, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {{ this.customButton(title, type|default('button'), 'btn-danger ' ~ classes, id, onClick, additionalAttributes) }}
{% endmacro %}

{% macro removeLink(title, url, classes, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {{ this.customLink(title, url, 'remove ' ~ classes|default('btn-danger'), id, onClick, additionalAttributes) }}
{% endmacro %}

{# open modal #}
{% macro openModalButton(title, getFormUrl, sendFormUrl, classes, type, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {% if getFormUrl and not sendFormUrl %}
        {% set additionalAttributes %}
            data-url="{{ getFormUrl }}" {{ additionalAttributes }}
        {% endset %}
    {% elseif getFormUrl and sendFormUrl %}
        {% set additionalAttributes %}
            data-get-form-url="{{ getFormUrl }}" data-send-form-url="{{ sendFormUrl }}" {{ additionalAttributes }}
        {% endset %}
    {% endif %}

    {{ this.customButton(title, type|default('button'), classes|default('btn-success'), id, onClick, additionalAttributes) }}
{% endmacro %}

{% macro openModalLink(title, getFormUrl, sendFormUrl, classes, url, id, onClick, additionalAttributes) %}
    {% import _self as this %}

    {% if getFormUrl and not sendFormUrl %}
        {% set additionalAttributes %}
            data-url="{{ getFormUrl }}" {{ additionalAttributes }}
        {% endset %}
    {% elseif getFormUrl and sendFormUrl %}
        {% set additionalAttributes %}
            data-get-form-url="{{ getFormUrl }}" data-send-form-url="{{ sendFormUrl }}" {{ additionalAttributes }}
        {% endset %}
    {% endif %}

    {{ this.customLink(title, url, classes|default('btn-success'), id, onClick, additionalAttributes) }}
{% endmacro %}
