{#
    @var header Header for modal window
    @var body Content for modal window if need
    @var buttons HTML markup necessary buttons
    @var javascripts HTML markup and code ( example: <script type="text/javascript">alert('something');</script> )
    @var classes Additional classes for modal window ( example: modal-biggest )
    @var modalId Id for modal window if need ( example: modalForSomething )

    Usage in twig template:
    {% set body %}
        <input type="text" id="one" />
        <input type="text" id="two" />
    {% endset %}

    {% set buttons %}
        <button id="submitForm">Ok</button>
        <button class="cancel">Cancel</button>
    {% endset %}

    {% set javascripts %}
        <script type="text/javascript">
            function alert(message) {
                alert(message);
            };
        </script>
    {% endset %}

    {{
        modals.renderModal(
            'My modal header',
            body,
            buttons,
            javascripts
        )
    }}
#}
{% macro renderModal(header, body, buttons, javascripts, classes, modalId) %}
    <div class="modal fade" id={{ modalId ? modalId : "modal" }}>
        <div class="modal-dialog {{ classes ? classes }}">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="modalHeader">{{ header ? header }}</span>
                    <button type="button" class="close close-modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div id="modalBody">
                        {{ body ? body }}
                    </div>
                </div>
                <div class="modal-footer">
                    {{ buttons ? buttons }}
                </div>
            </div>
        </div>
    </div>
    {{ javascripts }}
{% endmacro %}

{#
    @var header Header for modal window
    @var buttonSelector CSS selector for button. When it clicked modal window is opened ( example: .open-modal )
    @var getFormUrl
    @var sendFormUrl
    @var submitSelector CSS selector for form button. When it clicked form will be sent ( example: #submit, default: #submitForm )
    @var success Redefined ajax method success ( example: function(data) {alert(data);} )
    @var classes Additional classes for modal window ( example: modal-biggest )
    @var modalId Id for modal window if need ( example: modalForSomething )
    @var formModalObjectName Javascript object. Defined globally

    Examples of usage in twig templates:
        - Simple usage:
        {{
            modals.simpleFormModal(
                'My modal header',
                '#addShipment',
                path('asp_common_bundle_material_shipment_add', { id: entityDto.id })
            )
        }}

        - Usage:
        {% set success %}
            function(data) {
                $('#cost').html(data);
                this.closeModal();
            }
        {% endset %}

        {{
            modals.simpleFormModal(
                'My modal header',
                '#addShipment',
                path('asp_common_bundle_material_shipment_form_get'),
                path('asp_common_bundle_material_shipment_form_send),
                '#submitForm',
                success,
                'modal-biggest',
                'modalForSomething',
                'formModal'
            )
        }}

        - Usage when there are many buttons opens a modal window. These buttons use one attribute data-url
        or a couple of attributes data-get-form-url and data-send-form-url. Use attribute data-url
        when getFormUrl == sendFormUrl:
        {{
            modals.simpleFormModal(
                'My modal header',
                '#addShipment'
            )
        }}
#}
{% macro simpleFormModal(header, buttonSelector, getFormUrl, sendFormUrl, submitSelector, success, classes, modalId, formModalObjectName) %}
    {% import _self as this %}

    {% set sendFormUrl = sendFormUrl ? sendFormUrl : getFormUrl %}

    {% set javascripts %}
        <script src="{{ asset('bundles/rupcore/js/formModal.js') }}" type="text/javascript"></script>

        <script type="text/javascript">
            {% if not formModalObjectName %}
                {%- set formModalObjectName -%}
                    formModal{{ modalId ? '_' ~ modalId }}
                {%- endset -%}
            {% endif %}

            var {{ formModalObjectName }} = new FormModal(
                '#modalBody',
                {
                    buttonSelector: '{{ buttonSelector }}',
                    submitFormSelector: '{{ submitSelector|default('#submitForm') }}'
                    {% if getFormUrl %}
                        ,getFormUrl: '{{ getFormUrl }}'
                        ,sendFormUrl: '{{ sendFormUrl }}'
                    {% endif %}
                    {% if success %}
                        ,success: {{ success|raw }}
                    {% endif %}
                    {% if modalId %}
                        ,modalId: '#{{ modalId }}'
                    {% endif %}
                }
            );

            $(document).ready(function() {
                $('body').on('click', '{{ buttonSelector }}', function() {
                    if ($(this).data('url')) {
                        {{ formModalObjectName }}.getFormUrl = {{ formModalObjectName }}.sendFormUrl = $(this).data('url');
                    } else if ($(this).data('get-form-url')) {
                        {{ formModalObjectName }}.getFormUrl = $(this).data('get-form-url');
                        {{ formModalObjectName }}.sendFormUrl = $(this).data('send-form-url');
                    }
                });
            });
        </script>
    {% endset %}

    {% set formButtons %}
        {{ this._simpleFormModalButtons(submitSelector|default('#submitForm')) }}
    {% endset %}

    {{ this.renderModal(header, null, formButtons, javascripts, classes, modalId) }}
{% endmacro %}

{% macro simpleViewModal(header, buttonSelector, getFormUrl, classes, modalId, formModalObjectName) %}
    {% import _self as this %}

    {% set javascripts %}
        <script src="{{ asset('bundles/rupcore/js/formModal.js') }}" type="text/javascript"></script>

        <script type="text/javascript">
            {% if not formModalObjectName %}
                {%- set formModalObjectName -%}
                    formModal{{ modalId ? '_' ~ modalId }}
                {%- endset -%}
            {% endif %}

            var {{ formModalObjectName }} = new FormModal(
                    '#modalBody',
                    {
                        buttonSelector: '{{ buttonSelector }}',
                        submitFormSelector: '{{ submitSelector|default('#submitForm') }}'
                        ,getFormUrl: '{{ getFormUrl }}'
                        {% if modalId %}
                            ,modalId: '#{{ modalId }}'
                        {% endif %}
                    }
            );

            $(document).ready(function() {
                $('body').on('click', '{{ buttonSelector }}', function() {
                    if ($(this).data('url')) {
                        {{ formModalObjectName }}.getFormUrl = $(this).data('url');
                    }
                });
            });
        </script>
    {% endset %}

    {% set formButtons %}
        {{ this._simpleViewModalButtons() }}
    {% endset %}

    {{ this.renderModal(header, null, formButtons, javascripts, classes, modalId) }}
{% endmacro %}

{# private macro #}
{% macro _simpleFormModalButtons(submitSelector) %}
    {% import "RupCoreBundle::buttons.html.twig" as buttons %}

    {% set classSaveButton %}
        {{- '.' == submitSelector[:1] ? submitSelector[1:] : null -}}
    {% endset %}

    {% set idSaveButton %}
        {{- '#' == submitSelector[:1] ? submitSelector[1:] : null -}}
    {% endset %}

    {{ buttons.saveButton('asp.template.button.save'|trans, 'button', classSaveButton, idSaveButton) }}
    {{ buttons.cancelButton('asp.template.button.cancel'|trans, null, 'close-modal') }}
{% endmacro %}

{# private macro #}
{% macro _simpleViewModalButtons() %}
    {% import "RupCoreBundle::buttons.html.twig" as buttons %}

    {{ buttons.cancelButton('asp.template.button.close'|trans, null, 'close-modal') }}
{% endmacro %}